
@{
    ViewBag.Title = RadiusRCustomerWebSite.Localization.Common.NotAvailable;
}

<div class="error-wrapper">
    <div class="error-title">@RadiusRCustomerWebSite.Localization.Common.NotAvailable</div>
    <div>
        @RadiusRCustomerWebSite.Localization.Common.NotAvailableDescription
    </div>
</div>

