<div class="confirm-box">
    <div class="confirm-contents">
        <div>
            @RadiusRCustomerWebSite.Localization.Common.ConfirmMessage
        </div>
        <div>
            <input type="button" value="@RadiusRCustomerWebSite.Localization.Common.No" class="link-button red" />
            <input type="button" value="@RadiusRCustomerWebSite.Localization.Common.Yes" class="link-button jungle" />
        </div>
    </div>
</div>
