<div class="display-box">
    <div class="confirm-contents">
        <div id="display-valid-message">
            @Html.Raw(TempData["Errors"])
        </div>
        <div>
            <input type="button" value="Kapat" class="link-button red" />
        </div>
    </div>
</div>