<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="RadiusR.DB" version="1.0.4-alpha1" targetFramework="net452" />
  <package id="RezaB.DBUtilities" version="1.0.0" targetFramework="net452" />
</packages>