@{
    ViewBag.Title = RadiusRCustomerWebSite.Localization.Common.BillsAndPayments;
}

<div class="content-box card-payment-container" style="text-align: center; color: orange;">
    @Html.Raw(ViewBag.POSForm)    
</div>