<RadiusR_Customer_Website.Properties.Settings>
  <setting name="Copyright" serializeAs="String">
    <value>© Netspeed İnternet A.Ş</value>
  </setting>
  <setting name="WebSite" serializeAs="String">
    <value>&lt;a href="https://www.netspeed.com.tr" title="Netspeed" target="_blank"&gt;www.netspeed.com.tr&lt;/a&gt;</value>
  </setting>
  <setting name="CompanyTitle" serializeAs="String">
    <value>Netspeed</value>
  </setting>
  <setting name="Version" serializeAs="String">
    <value>1.0.2</value>
  </setting>
  <setting name="CookieExpiration" serializeAs="String">
    <value>03:00:00</value>
  </setting>
</RadiusR_Customer_Website.Properties.Settings>
