<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IGenericCustomerService" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IGenericCustomerService1">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.184.3.63:5998/GenericCustomerService.svc/GenericCustomerService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGenericCustomerService"
        contract="GenericCustomerServiceReference.IGenericCustomerService"
        name="WSHttpBinding_IGenericCustomerService" />
      <endpoint address="http://localhost:56365/GenericCustomerService.svc/GenericCustomerService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IGenericCustomerService1"
        contract="GenericCustomerServiceReference.IGenericCustomerService"
        name="WSHttpBinding_IGenericCustomerService1" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>